# Configuration file
# This is an example of Dany's TooManyGodDamnOres configuration
# If you want to use it, rename to "TooManyDanyOres.cfg" and put into your "config" folder
# Will replace all copper, tin, silver, lead and nickel (ferrous) to match ThermalFoundation blocks
# Will NOT replace Tinkers' Construct gravel ores

exclusions {
    S:oreCopper <
        TConstruct:GravelOre
     >
    S:oreTin <
        TConstruct:GravelOre
     >
}


replacements {
    S:oreCopper=ThermalFoundation
    S:oreTin=ThermalFoundation
	S:oreSilver=ThermalFoundation
	S:oreLead=ThermalFoundation
	S:oreNickel=ThermalFoundation
}


