# Configuration file
# This is an example of Dany's TooManyGodDamnOres configuration
# If you want to use it, rename to "TooManyDanyOres.cfg" and put into your "config" folder
# Will replace all copper and tin to match IC2 blocks
# Will NOT replace Tinkers' Construct gravel ores

exclusions {
    S:oreCopper <
        TConstruct:GravelOre
     >
    S:oreTin <
        TConstruct:GravelOre
     >
}


replacements {
    S:oreCopper=IC2
    S:oreTin=IC2
}


